.portfolio-wrapper .overflow-wrapper{
  overflow: auto;
  text-align: center;
}

.portfolio-wrapper .card-wrapper {
  max-width: 40%;
  border: 3px solid #ebebeb;
  background: #e3e3e3;
  padding: 30px 60px 30px 60px;
  box-shadow: 0px 1px 20px 2px #533c3ce3;
  color: #665b5b;
  font-family: monospace;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.portfolio-wrapper .card-heading {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #665b5b;
  font-weight: 700;
  color: #3d3636;
}

.portfolio-wrapper .card-body {
  text-align: left;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 20px;
}

.portfolio-wrapper button {
  font-family: monospace;
  font-size: 16px;
  border: 1px solid #655b5b;
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: #655b5b;
  cursor: pointer;
  margin: 5px;
  transition: 400ms all ease-in-out;
}

.portfolio-wrapper button:hover {
  background-color: #655b5b;
  color: white;
  box-shadow: 1px 1px 9px 3px #3838385e;
}
