.fixed-left {
  font-family: 'Open Sans', sans-serif;
  width: 20%;
  position: fixed;
  top: 37%;
  left: 7%;
  font-size: 1.4em;
}

.circle {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  background-image: url("../img/profile-picture.jpg");
  background-size: cover;
  top: 2%;
  left: 10%;
}

.name {
  position: fixed;
  z-index: 99;
  top: 28.5%;
  left: 12%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
}

.footer {
  position: fixed;
  z-index: -99;
  top: 80%;
  left: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.wrapper {
  position: absolute;
  left: 35%;
  top: 11%;
  width: 55%;
}

.about-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.4em;  
}

.contact-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.contact-content img {
  margin-bottom: 0.5em;
}

.apply-font {
  font-family: 'Open Sans', sans-serif;
}