.fixed-left {
  font-family: 'Open Sans', sans-serif;
  width: 20%;
  position: fixed;
  top: 38%;
  left: 7%;
  font-size: 1.4em;
}

.circle {
  position: fixed;
  width: 12.5em;
  height: 12.5em;
  border-radius: 50%;
  display: inline-block;
  background-image: url("../img/profile-picture.jpg");
  background-size: cover;
  top: 2%;
  left: 10%;
}

.name {
  position: fixed;
  z-index: 99;
  top: 28.5%;
  left: 11%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3em;
}

.footer {
  position: fixed;
  z-index: -99;
  top: 85%;
  left: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

.wrapper {
  position: absolute;
  left: 35%;
  top: 11%;
  width: 55%;
}

.about-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;  
}

.contact-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.contact-content img {
  margin-bottom: 0.5em;
}

.apply-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 0.3em;
}

a:link {
  text-decoration: none;
}