h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 1px;
}

.about-me-content {
  max-width: 920px;
  width: 60vw;
  text-align: left;
  line-height: 1.6;
  padding: 50px 30px;
  color: white;
  font-size: 19px;
}

.about-me-content p {
  margin-bottom: 7px;
}

/* .about-me-content {
  max-width: 720px;
  text-align: left;
  line-height: 1.6;
  color: #343131;
  background: #e7e7e7;
  padding: 50px 30px;
  border-radius: 5px;
  box-shadow: -1px 2px 20px 6px #343434;
}
 */
