<!DOCTYPE html>
<html>
<head>
  <meta name="description" content = "The official website of Rajat Jain. I am a programmer, web developer, algorithmic maniac. I make things.">
  <meta name="keywords" content = "rajat, jain, rajat jain, udaipur, bangalore, bengaluru, programmer, sensibleMadman, coder, coding, thisisrajat, @thisisrajat, developer, rails, hackerrank">
  <title>Rajat Jain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <style>
    body {
      background-color: #f0f0f0;
    }
    .header {
      font-family: 'Amatic SC', sans-serif;
      font-size: 5.5em;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-family: "EB Garamond", serif;
      font-size: 1.4em;
    }
    span {
      color: #C6482D;
    }
  </style>
  <script>
    function whereTo(locationFragment){
      window.location.href = "/" + locationFragment;
    }
  </script>
</head>
<body>
  <h1 class= "container header">About this guy</h1>
  <div class="content">
    <p>&nbsp;</p>
    <p>
      Ohh haii!
    </p>
    <p>
      I am <strong>Rajat Jain</strong>. I hail from a beautiful small town, Udaipur in India. I am an undergraduate in my final semester, pursuing B.Tech in Computer Science and Engineering.
    </p>
    <p>
      I am a total introvert. A minimalist. I like to code, a lot.
    </p>
    <p>
      <strong>Things that I love</strong> in no particular order are: <strong>Books</strong> -- Absolute Love. <strong>Music</strong> -- My escape from this molecular world. <strong>Astronomy</strong> -- I think I can talk about stars, galaxy, dark matter, supernovas and black holes for eternity and back. <strong>Caffiene</strong> - Well, I am ashamed. <strong>Python</strong> -- Pure Love. Einstein's hypothesized Gravitational Waves were detected using this language! <strong>Little Small things in UIs</strong> -- Spitting image of Steve Jobs in this area.
    </p>
    <p>
      <strong>Things I wish I can do more of</strong>: <strong>Write</strong> -- C'mon just type a little more you laz-. <strong>Travel</strong> -- Seriously. This one.<strong>Exercise</strong> -- Well, well.
    </p>
    <p>
      If you want to talk about any opportunity or just want to say 'Hi', drop a message.
    </p>
    <p>
      <span style="cursor: pointer;" onclick="whereTo('contact')">You can contact me by visiting this page.</span>
    </p>
  </div>
</body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108379257-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108379257-1');
</script>

</html>
