<!DOCTYPE html>
<html>
<head>
  <meta name="description" content = "The official website of Rajat Jain. I am a programmer, web developer, algorithmic maniac.">
  <meta name="keywords" content = "Rajat, Rajat Jain, Udaipur, Programmer, SensibleMadman, thisisrajat, Developer,">
  <title>{{ vars['title'] }}</title>
  <link rel="stylesheet" type="text/css" href="{{ vars['bootstrap'] }}">
  <link rel="stylesheet" type="text/css" href=" {{ vars['customsheet'] }} ">
  <script src="{{ vars['jquery'] }}"></script>
  <script src="{{ vars['bootstrapjs'] }}"></script>
  <script type="text/javascript" src = "{{ vars['script'] }}"></script>
  <link href="{{ vars['font'] }}" rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "circle">
  </div>
  <span class = "name">
    Rajat Jain
  </span>
  <div class = "fixed-left">
    <ul class="nav nav-pills nav-stacked">
     <li id = "about" role="presentation"><a href="#about" onclick="about()">About</a></li>
     <li id = "projects" role="presentation"><a href="#projects" onclick="projects()">Projects</a></li>
     <li id = "blog" role="presentation"><a href="//blog.rajatja.in" >Blog</a></li>
     <li id = "resume" role="presentation"><a href="../static/resume.pdf" onclick="resume()">Resume</a></li>
     <li id = "contact" role="presentation"><a href="#contact" onclick="contact()">Contact</a></li>
   </ul>
  </div>
  <div class = "wrapper" id = "content">
  </div>
</div>
  <div class = "footer">
    Made with &nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </div>
</body>
</html>