
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">
  <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW, NOARCHIVE, NOSNIPPET">
  <meta name="GOOGLEBOT" CONTENT="NOINDEX, NOFOLLOW, NOARCHIVE, NOSNIPPET">

  <title>Happy Birthday Booze Raani :)</title>
  
  <link rel="stylesheet" href="../../static/core/deck.core.css">
  <link rel="stylesheet" href="../../static/extensions/goto/deck.goto.css">
  <link rel="stylesheet" href="../../static/extensions/menu/deck.menu.css">
  <link rel="stylesheet" href="../../static/extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" href="../../static/extensions/status/deck.status.css">
  <link rel="stylesheet" href="../../static/extensions/hash/deck.hash.css">
  <link rel="stylesheet" href="../../static/themes/style/swiss.css">
  <link rel="stylesheet" href="../../static/themes/transition/horizontal-slide.css">
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
  


  <script src="../../static/modernizr.custom.js"></script>

  <style>
    
    body {
      font-family: 'Sorts Mill Goudy', serif !important;
    }

    ol li { 
      font-size: 36px !important;
    }

    ol li.grayed {
      opacity: 0.4;
    }

    .linkk{
      position: relative;
      margin-bottom: 5%;
    }

  </style>

  <!--  -->
</head>

<body class="deck-container">

<section class="slide">
  <h1>Happy Birthday, Booze Raani!<br /><div style="font-size: 30px; margin-top: 70px">[Please let me load completely then hit the spacebar to go forward. Also you may use left and right arrow keys for going forwards and backwards :P]</div></h1>
</section>

<section class="slide">
  <h1 style="font-size: 60px !important">That day when you told me about how you had wished your birthday wouldn't fall a day before the "D-DAY", you sounded genuinely upset. I joked and let go of it in that moment, but that later got stuck in my head...</h1>
</section>


<section class="slide">
  <h1 style="font-size: 60px !important">Saiya Ji wouldn't be here. Everybody will be studying like crazy. And, the worst part: You'd be studying like crazy, too. Probably will not even celebrate with us this year. And, probably, but I <em>sooo</em> hope not, this is the last year we'd be together.</h1>
</section>


<section class="slide">
  <h1 style="font-size: 56px !important">I know how you hide those nasty emotions inside you. Never telling anyone about it. But iss kamine ko pata pad hi jata h ab kya kare. You were upset. And, you already know how much I hate to see you upset. So...</h1>
</section>


<section class="slide">
  <h1 style="font-size: 60px !important">So I figured I'd take this opportunity to share my feelings and thoughts on something that really matters to me..</h1>
</section>

<section class="slide">
  <h1>You.</h1>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">But wait a second, as it turns out I'm not very good at arts & crafts. Actually to be honest I suck at it. Actually, to be reaaally honest, my arts and crafts skill is fatal to the lives of people. I am told it should be done only under someones supervision :P</h1>
</section>


<section class="slide">
  <h1>Well. That was depressing for Rajjos. So I thought about things I am better at than crafts.</h1>
</section>

<section class="slide">
  <h2>Things I am better at than arts & crafts:</h2>
  <ol>
    <li class="slide">Python</li>
    <li class="slide">Javascript</li>
    <li class="slide">Coding</li>
    <li class="slide">Being pathetic. Because you realize everything I said above is about programming :(</li>
    <li class="slide">Making numbered lists. YaY!</li>
  </ol>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">You already know my programming prowess. But, about that list making thing. I am really good at that and let me prove it to you by making a list of things that I like.</h1>
</section>

<section class="slide">
  <h2>Things I like:</h2>
  <ol>
    <li class="slide">Your smile</li>
  </ol>
</section>

<section class="slide">
  <h1>It's really addicting.</h1>
</section>

<section class="slide">
  <h1>And it never fails to brighten my day.</h1>
</section>

<section class="slide">
  <img src="../../static/booze/smile.jpg"/>
</section>

<section class="slide">
  <h1>Ahhh, let me cut that chinese gal and ugly moron guy from that frame.</h1>
</section>

<section class="slide">
  <h3 style="text-align: center">(Very low resolution, I know. But heart loves what it loves!)</h3>
  <img src="../../static/booze/smile_cropped.jpg"/>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">Better. Now next one's my second-favorite picture of you!</h1>
</section>

<section class="slide">
  <h3 style="text-align: center">You always smile like you mean it. And I love that.</h3>
  <img src="../../static/booze/smile_2.jpg"/>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">My first-favorite will always be that one where you're flexing one of your arm and the other arm
    is resting on your bicep *__*. Told you many-a-times. But you wouldn't listen.
  </h1>
</section>

<section class="slide">
  <h2>Things I like:</h2>
  <ol>
    <li class="grayed">Your smile</li>
    <li class="slide">How beautiful you are</li>
  </ol>
</section>

<section class="slide">
  <h1>I think this goes without saying.</h1>
</section>

<section class="slide">
  <h1>But I'm going to say it anyway.</h1>
</section>

<section class="slide">
  <h1>You are beautiful.</h1>
</section>

<section class="slide">
  <h1>Everything about you.</h1>
</section>

<section class="slide">
  <h1>And everything you do is, too.</h1>
</section>

<section class="slide">
  <h2>Things I like:</h2>
  <ol>
    <li class="grayed">Your smile</li>
    <li class="grayed">How beautiful you are</li>
    <li class="slide">The amount of fun we have</li>
  </ol>
</section>

<section class="slide">
  <h1>We have an awful lot of fun together.</h1>
</section>

<section class="slide">
  <h1>Makes it pretty difficult for me to have a bad day.</h1>
</section>

<section class="slide">
  <h1>Awesome.</h1>
</section>

<section class="slide">
  <h2>Things I like:</h2>
  <ol>
    <li class="grayed">Your smile</li>
    <li class="grayed">How beautiful you are</li>
    <li class="grayed">The amount of fun we have</li>
    <li class="slide">Talking to you</li>
  </ol>
</section>

<section class="slide">
  <h1>I've come to the conclusion I can talk to you about anything.</h1>
</section>

<section class="slide">
  <h1>That's pretty amazing when you think about it.</h1>
</section>

<section class="slide">
  <h1>Must be because you are, too.</h1>
</section>

<section class="slide">
  <h2>Things I like:</h2>
  <ol>
    <li class="grayed">Your smile</li>
    <li class="grayed">How beautiful you are</li>
    <li class="grayed">The amount of fun we have</li>
    <li class="grayed">Talking to you</li>
    <li class="slide">How much you care</li>
  </ol>
</section>

<section class="slide">
  <h1>This one's my favorite.</h1>
</section>

<section class="slide">
  <h1>You do so much to make me happy.</h1>
</section>

<section class="slide">
  <h1 style="font-size: 60px !important">Motivating me when I feel down. Lifting me up when I don't think I can. Making me a better person. A polite person.</h1>
</section>

<section class="slide">
  <h1>Big things, small things, in-between things, you know.</h1>
</section>

<section class="slide">
  <h1>I just want you to know that I really appreciate each and every one of them.</h1>
</section>

<section class="slide">
  <h1>And I really appreciate you.</h1>
</section>

<section class="slide">
  <h1>You could say I'm a pretty lucky guy.</h1>
</section>

<section class="slide">
  <h1>And you'd be right.</h1>
</section>

<section class="slide">
  <h1>So... Not too shabby, hena? Now let's make another one.</h1>
</section>

<section class="slide">
  <h2>Things that Booze love:</h2>
  <ol>
    <li class="slide">Saiya Ji</li>
  </ol>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">Is this guy a mystery or what. Nobody knows how he looks like (even booze told me she wouldn't look towards him directly). He swooped in and took away my best friend. What a guy.</h1>
</section>

<section class="slide">
  <h1>But the sad part, he wouldn't be here. :(</h1>
</section>

<section class="slide">
  <h2>Things that Booze love:</h2>
  <ol>
    <li class="grayed">Saiya Ji</li>
    <li class="slide">Bacche</li>
  </ol>
</section>

<section class="slide">
  <h1>Everyone loves 'em. Caution: Serious cuteness ahead. :)</h1>
</section>

<section class="slide">
  <img src="../../static/booze/cute_baby_1.jpg" />
</section>

<section class="slide">
  <img src="../../static/booze/cute_baby_2.jpg" />
</section>

<section class="slide">
  <img src="../../static/booze/cute_baby_3.jpg" />
</section>

<section class="slide">
  <h1>This kid. Though.</h1>
  <img src="../../static/booze/swag_kid.jpg" />
</section>

<section class="slide">
  <h1 style="font-size: 60px !important">As much as you love them, you can't have any right now. Unless...[insert the inappropriate joke here. :P]</h1>
</section>

<section class="slide">
  <h2>Things that Booze love:</h2>
  <ol>
    <li class="grayed">Saiya Ji</li>
    <li class="grayed">Bacche</li>
    <li class="slide">Dresses</li>
  </ol>
</section>

<section class="slide">
  <img src="../../static/booze/dress.jpg"/>
</section>

<section class="slide">
  <h1 style="font-size: 60px !important">Yupp. That was Jennifer Aniston in a black leather jacket *_*</h1>
</section>

<section class="slide">
  <h1 style="font-size: 60px !important">If you liked that jacket, and want it.. Make sure you're okay with me selling my one kidney for that :P</h1>
</section>

<section class="slide">
  <h2>Things that Booze love:</h2>
  <ol>
    <li class="grayed">Saiya Ji</li>
    <li class="grayed">Bacche</li>
    <li class="grayed">Dresses</li>
    <li class="slide">F.R.I.E.N.D.S</li>
  </ol>
</section>

<section class="slide">
  <h1>Joey. Chandler. Ross. Monica. Rachel. Pheobe. Those people. Whats not to like, really.</h1>
</section>

<section class="slide">
  <h3 style="text-align: center">Hey a Potato and Joey, together! It's like two of your most favorite things.</h3>
  <img src="../../static/booze/joey_1.jpg"/>
</section>

<section class="slide">
  <h3 style="text-align: center">He's dumb. But he's your dumb fool.</h3>
  <img src="../../static/booze/joey_2.jpg"/>
</section>

<section class="slide">
  <h1>Could have given you friends but again you have seen all the seasons.</h1>
</section>


<section class="slide">
  <h2>Things that Booze love:</h2>
  <ol>
    <li class="grayed">Saiya Ji</li>
    <li class="grayed">Bacche</li>
    <li class="grayed">Dresses</li>
    <li class="grayed">F.R.I.E.N.D.S</li>
    <li class="slide">???</li>
  </ol>
</section>

<section class="slide">
  <h1>So I asked myself, what else does she love? (Other than me, obviously :P)</h1>
</section>

<section class="slide">
  <h1>Music.</h1>
</section>

<section class="slide">
  <h1>Music - Because it's your first love</h1>
</section>

<section class="slide">
  <img src="../../static/booze/first_love.png">
</section>


<section class="slide">
  <h1>Music - Because it's what you'll die for</h1>
</section>

<section class="slide">
  <img src="../../static/booze/die_for.png">
</section>

<section class="slide">
  <h1>Music - Because it's something you can't live without</h1>
</section>

<section class="slide">
  <img src="../../static/booze/cant_live_without.png">
</section>

<section class="slide">
  <h1>Music - Because it's your happy moment</h1>
</section>

<section class="slide">
  <img src="../../static/booze/happy_moment.png">
</section>

<section class="slide">
  <h1>Music - Because it's something you love more than anything. ANYTHING.</h1>
</section>

<section class="slide">
  <img src="../../static/booze/love_more.png">
</section>

<section class="slide">
  <h1>Music - Because you get mad with the lyrics with even a slightest cue.</h1>
</section>

<section class="slide">
  <img src="../../static/booze/mad_hona.png">
</section>

<section class="slide">
  <h1>So from a guy who, well, understands stuff...</h1>
</section>

<section class="slide">
  <img src="../../static/booze/i_understand.png">
</section>

<section class="slide">
  <img src="../../static/booze/i_understand_2.png">
</section>

<section class="slide">
  <h1>...to the girl who, well, also understands stuff.</h1>
</section>

<section class="slide">
  <img src="../../static/booze/u_understand.png">
</section>

<section class="slide">
  <h1>Here is a little musical present for you!</h1>
</section>

<section class="slide">
  <h1 style="font-size:56px !important">Sit back, put <strike>headphones</strike> earphones on and chill maar. Don't even try to remember the names. Also spacebar won't work correctly because of all the Javascript. Do this: Click on the white space, the empty part of the webpage and then press spacebar or right arrow key to go forward.</h1>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">Kicking off with a really, really sweet song.</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/162630309&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">Okay. This song gives me vibes! 2 minutes of heaven</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/139395772&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">I heard you liked love songs ;) (Same guy. Same Amazingness.)</h3>
  <br />
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/162629735&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<h3 style="text-align: center">Thought I should include lyrics. Because they're gooood:<br />
Woman I’ve been waiting for you <br />
Chasing tomorrow while I <br />
Wonder if I’m throwing life away <br />
The world’s a blur; I’m standing still <br />
I've been here before I can’t begin to <br />
Remember the words I mean to say <br />

They say time can heal it all <br />
But two years have passed since we came undone <br />
So why does it feel like yesterday <br />
I’m still in love, still in love With you <br />

Still in love with you <br />

All I see are frozen clocks <br />
Their rusted hands hold back my heart <br />
Here we are in yesterday tonight <br />
On a razor’s edge your decision waits <br />
I’m stranded on the wings of fate <br />
They’re begging me to just give up this fight <br />

They say time can heal it all <br />
So how does the scent of you linger on <br />
And why does it feel like nothing’s changed <br />
I’m still in love, still in love <br />
With you <br />

Still in love with you <br />

A thousand pretty faces <br />
Could all call my name <br />
The only voice i hear, <br />
The one that remains <br />
Is yours and I can’t explain it <br />
I'm still in love with you</h3> <br />
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">This is a Hindi song. Doesn't make it any less awesome though. You're definitely playing this one on guitar.</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105832333&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">My Heartbreak song. Gave me a chill when I listened to it today after a good year or so.</h3>
  <br />
  <iframe width="480" height="360" src="https://www.youtube-nocookie.com/embed/dnhLRuxp90I?rel=0" frameborder="0" allowfullscreen></iframe>
</section>


<section class="slide">
  <h1 style="font-size: 56px !important">Let's take a moment for "The Killers", Read My Mind song which couldn't make it to the list because some fool tweeted about it and she already knows about that song now. Damn it, Twitter!
</section>


<section class="slide">
  <br />
  <h3 style="text-align: center">This guys smile and expressions :D. (Not better than yours though, in case you were wondering)</h3>
  <br />
  <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/1deZbUOzTQQ?rel=0" frameborder="0" allowfullscreen></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">You listened this song twice. Once with me. Once in a trailer. Forgot each time. You should never forget good music, baby!</h3>
  <br />
  <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/mYFaghHyMKc?rel=0" frameborder="0" allowfullscreen></iframe>
</section>

<section class="slide">
  <h1>That's it Janeman. That was the musical present. I hope you liked it and...</h1>
</section>

<section class="slide">
  <h1>I really hope you smiled like "idiots" while reading all this. That was actually the plan...</h1>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">To take all your worries away. Even for 15 minutes if I could. To make you smile on your special night (hopefully it is night).</h1>
</section>

<section class="slide">
  <h1>Because baby tu upset achi nahi lagti na :(</h1>
</section>


<section class="slide">
  <h1 style="font-size: 56px !important">And about all the morons that'll try to hurt you in the future, here's a little something...</h1>
</section>

<section class="slide">
  <h1 style="font-size: 46px !important">"...when I was little kid, I used to fell down all the time. I used to see people fall down all the time. I would always hurt my hands and legs. But then it occured to me that falling down was inevitable and insignificant, if there were no rocks to hurt me or any other person for that matter. So...</h1>
</section>

<section class="slide">
  <h1 style="font-size: 46px !important">I created a plan to gather all the rocks in the world and store them in one place - in my backyard. As foolish as it may seem, that was my master plan. Anyone could fall down, at any location and still remain unharmed. I estimated, it'd take me a week or so to gather all of them as there seemed to be quite a lot of rocks." True Story. Really happened.</h1>
</section>

<section class="slide">
  <h1 style="font-size: 46px !important">Right about now you can laugh. I was a fool. But that's the kind of fool I am. Then and Now, nothing has changed much. Still care too much and still a fool. Now, the morons that'll try to hurt you - assume them to be the rocks. This fool will collect and store every single one of them away. So when the next time you fall, there will be nobody to hurt you.</h1>
</section>

<section class="slide">
  <h1>So always be the kickass babe that you are.</h1>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">And remember, when you think everything good has ended, there is no hope and there is nothing better ahead for you; Always, always take a leap in faith. Be optimistic. There is always something sweeter, better ahead.</h1>
</section>


<section class="slide">
  <h1 style="font-size: 60px !important">Happy "Booze" day, birthday! <br /> (because birthday celebrates booze-day and not the other way around)</h1>
</section>

<section class="slide">
  <h1>Love You, Janeman! Good Night :) This is the last slide. And now you'll be upset again. Aww :(</h1>
</section>

<section class="slide">
  <h1 style="font-size: 56px !important">But you scrolled anyway. Now you're happie. Haha. Tell me if you scrolled and if you're reading this. Vaise I knew you'd scroll. :) #ThingsOurBoozeDoes <br />Bonus songs ahead, for being such a darling.</h1>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">Music is just sooo awesome!</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/180493760&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">For your information: Your attraction > Reverse Gravity of a Dying Star</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/204491232&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">Slow song. Awesome lyrics. Dat line - "You let me in, now let me out".. and whistle following this line :)</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/162630421&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">Sent you this song on whatsapp once, when you were down.</h3>
  <br />
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105831058&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</section>

<section class="slide">
  <br />
  <h3 style="text-align: center">And lets end this with one of your favorite song. I know why it's your favorite. Yupp you're that girl he's singing about :) And my favorite part is at 2:45, when she finally found the paradise [with her friends]. And the lyrics right about then [is my WhatsApp Status]. Have a Good Night and a Great Birthday :)</h3>
  <br />
<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/1G4isv_Fylg?rel=0" frameborder="0" allowfullscreen></iframe>
</section>


<script src="../../static/jquery-1.7.min.js"></script>
<script src="../../static/core/deck.core.js"></script>
<script src="../../static/extensions/hash/deck.hash.js"></script>
<script src="../../static/extensions/menu/deck.menu.js"></script>
<script src="../../static/extensions/goto/deck.goto.js"></script>
<script src="../../static/extensions/status/deck.status.js"></script>
<script src="../../static/extensions/navigation/deck.navigation.js"></script>

<script>
$(function() {
  $.deck('.slide');
});
</script>

</body>
</html>
