Not good at advice! Can I interest you in a sarcastic comment?
<br />
<br />
<img src = "../static/img/facebook.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "https://www.facebook.com/Rajat.legend">Facebook - Which I stopped using</a></img>
<br />
<br />
<img src = "../static/img/googleplus.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "https://plus.google.com/u/0/117644368358855184827/posts">Google+ - On which I am popular, supposedly</a></img>
<br />
<br />
<img src = "../static/img/twitter.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "http://twitter.com/thisisrajat">Twitter - Which I suck at</a></img>
<br />
<br />
<img src = "../static/img/linkedin.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "in.linkedin.com/in/thisisrajat">LinkedIn - Which will get me a job</a></img>
<br />
<br />
<img src = "../static/img/github.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "https://github.com/thisisrajat/">Github - Which I like</a></img>
<br />
<br />
<img src = "../static/img/skype.png" height="32px" width="32px">&nbsp;&nbsp;&nbsp;<a href = "#">Skype - Where you can see me (Username: thisisrajatjain)</a></img>
<br />
<br />
<img src = "../static/img/mail.png" height="26px" width="32px">&nbsp;&nbsp;&nbsp;<a href= "mailto:rajat@rajatja.in">Mail - Where I will actually reply</a></img>

