<!DOCTYPE html>
<html>
<head>
  <meta name="description" content = "The official website of Rajat Jain. I am a programmer, web developer, algorithmic maniac. I make things.">
  <meta name="keywords" content = "Rajat, Rajat Jain, Udaipur, Programmer, SensibleMadman, thisisrajat, Developer,">
  <title>Contact Me!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src = "../static/js/materialize.min.js"></script>
  <script type="text/javascript" src="../static/js/script.js"></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
  <style>
    html {
      font-family: "Open Sans", sans serif;
    }
    .full-body {
      top: 15px;
      width: 80%;
      left: auto;
      right: auto;
    }
    .title {
      font-weight: bolder;
    }
  </style>
</head>
<body>
  <div class="container full-body">
    <ul class="collection" style="top: 15px;">
      <li class="collection-item avatar">
        <img src="/static/img/facebook.png" alt="" class="circle">
        <span class="title">Facebook</span>
       <a href="/facebook" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/github.png" alt="" class="circle">
        <span class="title">Github</span>
       <a href="/github" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/twitter.png" alt="" class="circle">
        <span class="title">Twitter</span>
       <a href="/twitter" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/linkedin.png" alt="" class="circle">
        <span class="title">Linkedin</span>
       <a href="/linkedin" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/googleplus.png" alt="" class="circle">
        <span class="title">Google+</span>
       <a href="/googleplus" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/skype.png" alt="" class="circle">
        <span class="title">Skype - @thisisrajatjain</span>
       <a href="#!" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
     <li class="collection-item avatar">
        <img src="/static/img/mail.png" alt="" class="circle">
        <span class="title">Mail</span>
       <a href="/email" class="secondary-content"><i class="material-icons">trending_flat</i></a>
     </li>
  </ul>

</div>
</body>
</html>