<div class="panel-group apply-font" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Compiler Sandbox
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        This is a PHP and shell based web app which creates a "virtual environment" or simply a "sandbox", for fast and secure execution of different programs and scripts, by of course using there appropriate compilers/interpreters. It abstracts the whole compiling and running process from the user, end result being the website working as an IDE. It can be used a backend for competitive programming online judges for judging the solutions with desired output.
        <br />
        <br />
        <a href="https://github.com/thisisrajat/compiler-sandbox" class="btn btn-default btn-sm" role="button">Github</a>
        <a href="http://compiler.rajatja.in" class="btn btn-default btn-sm" role="button">Live Demo</a> 
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Codeforces Tool
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        A web application which queries http://codeforces.com (an online judge for competitive programming)
        to look up for multiple user submissions on a problem. It also does statistical analysis for each user. It uses Python's Flask framework and Javascript.
        <br />
        <br />
        <a href="https://github.com/thisisrajat/cftool" class="btn btn-default btn-sm" role="button">Github</a>
        <a href="http://cftool.rajatja.in" class="btn btn-default btn-sm" role="button">Live Demo</a> 
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Instagram Downloader
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        A python script which uses both the official and unofficial API to download images in bulk of a user from Instagram. For obvious reasons, it doesn't work for private users.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/instagram-downloader" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Virtual Stock Simulator
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        It is a stock market simulator which fetches live stock prices from Yahoo! Finance, Google Finance and other services. It allows to trade on the listed tickers on there current price with virtual money. It uses PHP as backend and MySQL Database to store data. This project was implemented during my summer internship at HCL Technologies.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/virtual-trader" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Tech Next Reader
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        It is a news aggregator program, which scrapes data from various Technology news sources and extracts new and trending stories. It then intelligently summarizes them for a quick skimming. Currently I am working on the first release. (It is not open source)
        <br />
        <br />
        <a href="http://thetechnext.net" class="btn btn-default btn-sm" role="button">Website</a> 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Radio Reddit Streamer
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        It combines two best things in the world: shell and music. Radio Reddit Streamer uses http://radioreddit.com API to stream music to your shell using mplayer. It does the same for Windows using VLC Media Player.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/radio-reddit" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          this->website()
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">
        This website (http://rajatja.in) runs on Python's Flask framework and heavily relies on Javascript. If you're a F.R.I.E.N.D.S. fan and haven't looked at my awesome 404 pages (keep reloading for a new one), you're missing out :)
        <br />
        <br />
        <a href="http://github.com/thisisrajat/rajatja.in" class="btn btn-default btn-sm" role="button">Github</a>
        <a href="http://rajatja.in/LikeWhatYouSawHuh" class="btn btn-default btn-sm" role="button">404 Page</a> 
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Time Consumed Checker
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        A small C++ utility program which tells the running time of a program using large input generated by python script. Extremely helpful in competitive programming when you need to know if the program will run in time without adding extra lines of code to check it explicitly.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/time-limit-check" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Twenty
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        A small web app which reminds in about 20 minutes to take a break from computer. It is based on a famous rule, which you might have already heard of, called 20-20-20: Take a 20 second break, after 20 minutes of computer work, and look at an object that is 20 feets away. Written in Javascript.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/twenty" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Sublime Text Build System
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body">
        A small C++ utility program which can be tweaked to ones personal use for parsing input from a file and calling the executable again and again for each test case. Helpful tool in competitive programming. 
        <br />
        <br />
        <a href="http://github.com/thisisrajat/sublime-build-system" class="btn btn-default btn-sm" role="button">Github</a> 
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Ideone Compiler API
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        A simple IDEONE API Wrapper which uses SoapClient to query IDEONE. Submits the source to it and gets the result back. It uses PHP and Javascript.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/ideone-api" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Credit Card Validator
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        A C utility program which checksums the credit card number and tells if the number is valid or not and if valid which type of card it is. My first program that spanned longer than 100 lines. I wrote it as a part of CS50 course. Humble beginnings.
        <br />
        <br />
        <a href="http://github.com/thisisrajat/credit-card-validator" class="btn btn-default btn-sm" role="button">Github</a>
      </div>
    </div>
  </div>
  





</div>