
<!DOCTYPE html>
<html>
<head>
  <meta name="description" content = "The official website of Rajat Jain. I am a programmer, web developer, algorithmic maniac. I make things.">
  <meta name="keywords" content = "Rajat, Rajat Jain, Udaipur, Programmer, SensibleMadman, thisisrajat, Developer,">
  <title>Rajat Jain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script type="text/javascript" src = "../static/js/materialize.min.js"></script>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
  <style>
    html {
      font-family: "Open Sans", sans serif;
    }
    .full-body {
      top: 15px;
      width: 80%;
      left: auto;
      right: auto;
    }
    .bleedBlue {
      text-align: center;
      color: #3D94F2;
    }
    .links {
      text-align: center;
    }
    .text {
    }
  </style>
</head>
<body>
  <h1 class="container" style="text-align:center;">Projects</h1>
  <div class="container full-body">
      <div>
        <h3 class="bleedBlue">
            Compiler Sandbox
        </h3>
         <div class="text">
          This is a PHP and shell based web app which creates a "virtual environment" or simply a "sandbox", for fast and secure execution of different programs and scripts, by of course using there appropriate compilers/interpreters. It abstracts the whole compiling and running process from the user, end result being the website working as an IDE. It can be used a backend for competitive programming online judges for judging the solutions with desired output.
          <br />
          <br />
          <div class="links">
            <a href="https://github.com/thisisrajat/compiler-sandbox" class="btn waves-effect waves-light" target="_blank">Github</a>
            <a href="http://compiler.rajatja.in" class="btn waves-effect waves-light" target="_blank">Live Demo</a> 
          </div>
        </div>
      </div>

      <div>
        <h3 class="bleedBlue">
            Codeforces Tool
        </h3>
         <div class="text">
          A web application which queries http://codeforces.com (an online judge for competitive programming) to look up for multiple user submissions on a problem. It also does statistical analysis for each user. It uses Python's Flask framework and Javascript. 
          <br />
          <br />
          <div class="links">
            <a href="https://github.com/thisisrajat/cftool" class="btn waves-effect waves-light" target="_blank">Github</a>
            <a href="http://cftool.rajatja.in/" class="btn waves-effect waves-light" target="_blank">Live Demo</a> 
          </div>
        </div>
      </div>

      <div>
        <h3 class="bleedBlue">
            Instagram Downloader
        </h3>
         <div class="text">
          A python script which uses both the official and unofficial API to download images in bulk of a user from Instagram. For obvious reasons, it doesn't work for private users. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/instagram-downloader" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

      <div>
        <h3 class="bleedBlue">
            Virtual Stock Simulator
        </h3>
         <div class="text">
          It is a stock market simulator which fetches live stock prices from Yahoo! Finance, Google Finance and other services. It allows to trade on the listed tickers on there current price with virtual money. It uses PHP as backend and MySQL Database to store data. This project was implemented during my summer internship at HCL Technologies. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/virtual-trader" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

      <div>
        <h3 class="bleedBlue">
            Tech Next Reader
        </h3>
         <div class="text">
          It is a news aggregator program, which scrapes data from various Technology news sources and extracts new and trending stories. It then intelligently summarizes them for a quick skimming. Currently I am working on the first release. (It is not open source) 
          <br />
          <br />
          <div class="links">
            <a href="http://thetechnext.net/" class="btn waves-effect waves-light" target="_blank">Website</a> 
          </div>
        </div>
      </div>

      <div>
        <h3 class="bleedBlue">
            Radio Reddit Streamer
        </h3>
         <div class="text">
          It combines two best things in the world: shell and music. Radio Reddit Streamer uses http://radioreddit.com API to stream music to your shell using mplayer. It does the same for Windows using VLC Media Player. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/radio-reddit" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            this->website()
        </h3>
         <div class="text">
          This website (http://rajatja.in) runs on Python's Flask framework and heavily relies on Javascript. If you're a F.R.I.E.N.D.S. fan and haven't looked at my awesome 404 pages (keep reloading for a new one), you're missing out :) 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/rajatja.in" class="btn waves-effect waves-light" target="_blank">Github</a>
            <a href="http://rajatja.in/LikeWhatYouSawHuh" class="btn waves-effect waves-light" target="_blank">404 Page</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            Time Consumed Checker
        </h3>
         <div class="text">
          A small C++ utility program which tells the running time of a program using large input generated by python script. Extremely helpful in competitive programming when you need to know if the program will run in time without adding extra lines of code to check it explicitly. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/time-limit-check" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            Twenty
        </h3>
         <div class="text">
          A small web app which reminds in about 20 minutes to take a break from computer. It is based on a famous rule, which you might have already heard of, called 20-20-20: Take a 20 second break after 20 minutes of computer work to look at an object that is 20 feets away. Written in Javascript.
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/twenty" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            Sublime Text Build System
        </h3>
         <div class="text">
          A small C++ utility program which can be tweaked to ones personal use for parsing input from a file and calling the executable again and again for each test case. Helpful tool in competitive programming. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/sublime-build-system" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            Ideone Compiler API
        </h3>
         <div class="text">
          A simple IDEONE API Wrapper which uses SoapClient to query IDEONE. Submits the source to it and gets the result back. It uses PHP and Javascript. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/ideone-api" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

       <div>
        <h3 class="bleedBlue">
            Credit Card Validator
        </h3>
         <div class="text">
          A C utility program which checksums the credit card number and tells if the number is valid or not and if valid which type of card it is. My first program that spanned longer than 100 lines. I wrote it as a part of CS50 course. Humble beginnings. 
          <br />
          <br />
          <div class="links">
            <a href="http://github.com/thisisrajat/credit-card-validator" class="btn waves-effect waves-light" target="_blank">Github</a>
          </div>
        </div>
      </div>

  </div>
</body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108379257-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108379257-1');
</script>

</html>
